<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
		<tbody>
			<tr>
				<th>商品货号</th>
				<th>工厂编号</th>
				<th>材质</th>
				<th>库存</th>
				<th>预警线</th>
				<th>零售价</th>
			</tr>
			<tr>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
			</tr>
			<tr>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
			</tr>
			<tr>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
				<td><input type="text" name=""></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript">
		//Paste Excel data into html table ** html表格实现Excel表格多单元格粘贴 **
		$.fn.pasteFromExcel = function() {     //make it a jquery function
		    $(this).bind('paste', function(e) {
		        
		        e.preventDefault(); //消除默认粘贴
		        
		        //获取粘贴板数据
		        var clipboardData = window.clipboardData || e.originalEvent.clipboardData, // IE || chrome  
		        		data = clipboardData.getData('Text'),
		        		//判断表格数据是使用\n还是\r分行，解析成行数组
            		rowArr = (data.indexOf(String.fromCharCode(10)) > -1) ? 
        					data.split(String.fromCharCode(10)) : 
        					data.split(String.fromCharCode(13)),
        				//根据\t解析单元格
        				cellArr = rowArr.filter(function(item) { //兼容Excel行末\n，防止粘贴出多余空行
	                    return (item !== "")
	                }).map(function(item) {
	                    return item. split(String.fromCharCode(9));
	                });
		        	 
		        //输出至网页表格
		        var tab = $(e.target).parents('table')[0],  //表格
		        		td = $(e.target).parents('td'),    //当前单元格
		        		startRow = td.parents('tr')[0].rowIndex, //当前单元格行数 
		        		startCell = td[0].cellIndex, //当前单元格列数
		        		rows = tab.rows.length;  //总行数

		        for (var i = 0; i < cellArr.length && startRow + i < rows; i++) {
		            var cells = tab.rows[startRow + i].cells.length;  //该行总列数
		            
		            for(var j = 0; j < cellArr[i].length && startCell + j < cells; j++) {
		                var cell = tab.rows[startRow + i].cells[startCell + j];
		                $(cell).find(':text').val(cellArr[i][j]);
		            }
		        }
		    })
		}
		$('table').pasteFromExcel();
	</script>
  </body>
</html>
